XUI_ORIGIN=http://localhost:2053/3x-ui/
XUI_BASIC_AUTH=only_if:required_by_the_web_server
XUI_USERNAME=somebody
XUI_PASSWORD=somepassword
XUI_LOGIN_SECRET=if_set_in_3xui_settings
XUI_WEB_DOMAIN=only_if_webDomain_is_set_in_3xui_settings
